/* gart.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Title styles */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

/* Input container styles */
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.input-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
}

.input-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #0056b3;
}

/* Node container styles */
.Node-container {
    width: 80%;
    max-width: 1200px;
    height: 600px;
    border: 2px solid #ccc;
    position: relative;
    margin: 0 auto 20px;
    background-color: white;
}

/* Dot styles */
.dot {
    width: 11px;
    height: 11px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.2s, background-color 0.2s;
}

.dot:hover {
    transform: scale(1.5);
    background-color: blue;
}

.dot.clicked {
    background-color: green;
  }

/* line style */
.line {
    position: absolute;
    height: 2px;
    background-color: red;
    transform-origin: 0 0;
}


/* Controls container styles */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.controls input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
}

.controls button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #218838;
}

/* Responsive styles */
@media (max-width: 600px) {
    .input-container, .controls {
        flex-direction: column;
    }

    .input-container input[type="text"], .controls input[type="text"] {
        width: 100%;
        margin: 10px 0;
    }

    .input-container button, .controls button {
        width: 100%;
    }

    .Node-container {
        width: 100%;
        height: 300px;
    }
}
