body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

#inputNumbers {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
}

.sorting-container {
    margin: 80px 0;
}

.bars {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
}

.bar {
    background-color: #f39c12;
    transition: height 0.2s;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

